
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
  --color-darkbg: #1C1410;
  --color-cardsbg: #281d17;
  --color-golden:#D4A373;
  --color-creame:#D9B99B;
  --color-textoff:#EAE0D5;
  --color-textmuted: #A9927D;
  --color-textdark:#0F0A08;
  --color-locationbg:#9E7855;

}

*{
   font-family: "Playfair Display", serif;
   scroll-behavior: smooth;
}
nav{
  background-color: rgb(15, 10, 8,0.7);
}
.topsells{
  background-image: url(../assests/bg_img_nuts.png);
}
.location{
  background: url(../assests/bg_img_nuts.png);
  background-color: #D4A373;
  background-position: right;
  background-repeat: no-repeat;
  /* background-size: cover; */
}